
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="buyform">
    <div class="innerform">
    <h3>Оформіть ваше замовлення</h3>
    
        <form method="post" action="">
            <input type="hidden" value="Viewbag.Id" name="Id" />
            <p>Введіть ім'я:</p>
            <input type="text" name="Person" /><br />
            <p>Введіть адресу:</p>
            <input type="text" name="Adress" /><br /><br />
            <input type="submit" value="Надіслати" />


        </form>
        </div>



    </div>
