@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="incontent">
        <p class="textt">
            Hello!My name is Taras Onyshko. I`m 19. I study at Ivan Franko University at Faculty of Applied Mathematics and Informatics. This project is my first attempt to get some knowledges and experience in ASP.NET MVC 5 technology. So, as you can see math, programming and bicycles are my hobbies. This Website provides some general information about myself and also gives a possibility to login and make an "imagine purchase" of bicycle of your dream. Hope you`ll like it.
        </p>
    </div>

</div>


<div class="sidebar">
    <div class="insidebar">
        <p class="textt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. //ACTUALLY, HERE`S GONNA BE MY PORTRAIT
        </p>
    </div>

</div>










